body {
    font-family: "맑은 고딕", "고딕", "궁서체";
}

header {
    background-color: aqua;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    /* margin: 10px 20px 50px 60px; 위 오른쪽 아래 왼쪽 */
    overflow: hidden;
}

h1 {
    /* background-color: crimson; */
    font-size: 2em;
}
/* header의 자손인 h1 태그에 적용 */
header h1 {
    width: 40%;
    color: snow;
    float: left;
}
/* header의 자식인 anv에 적용 */
header > nav {
    /* background-color: palegoldenrod; */
    width: 50%;
    float: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    float: left;
    margin: 15px;
}

a {  /*nav a  or  nav ul li a  */
    text-decoration: none;
    color: white;
}

section {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #333; 
    /* (width,style,color) */
    padding: 5px;
}

h2 {
    font-size: 1.8em;
    padding: 15px;
    border-radius: 3px;
    box-shadow: -3px 3px 3px 0px grey; /* X Y 번짐 흐림*/
}

h3 {
    font-size: 1.3em;
    padding: 15px 0px 15px 10px; 
    border-left: 8px solid rgb(225, 150, 163);
}

p {
    line-height: 30px;
    font-size: 15px;
    margin: 20px;
}

dl {
    line-height: 30px;
    padding-left: 30px;
    margin-right: 30px;
}

dt {
    font-size: 1.1em;
    font-weight: bold;
    color: aquamarine;
}

article ul {
    line-height: 30px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 80%;
}