body {
    font-family: "맑은 고딕", "고딕", "궁서체";
}

header {
    background-color: aqua;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    /* padding: 10px 20px 50px 60px; 위 오른쪽 아래 왼쪽 */
    overflow: hidden;
}

h1 {
    /* background-color: crimson; */
    font-size: 2em;
}
/* header의 자손인 h1 태그에 적용 */
header h1 {
    width: 40%;
    color: snow;
    float: left;
}
/* header의 자식인 anv에 적용 */
header > nav {
    /* background-color: palegoldenrod; */
    width: 50%;
    float: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    float: left;
    margin: 15px;
}

a {  /*nav a  or  nav ul li a  */
    text-decoration: none;
    color: white;
}